<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZONEDOCTOR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZONEDOCTOR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZONEDOCTOR.Properties.Settings>
            <setting name="BackupROMDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateBackupROM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateBackupROMSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="History" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value>"C:\\"</value>
            </setting>
            <setting name="LastEventOffset" serializeAs="String">
                <value>655360</value>
            </setting>
            <setting name="LastLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastRomPath" serializeAs="String">
                <value>"C:\\"</value>
            </setting>
            <setting name="LoadAllData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadLastUsedROM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotePathCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviewAllies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreviewArguments" serializeAs="String">
                <value>-m -zs 0 -v 2</value>
            </setting>
            <setting name="PreviewDynamicRomName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviewFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviewMaxStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberLastIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEncryptionWarnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UndoStackSize" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="UnverifiedRomWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisualThemeSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZSNESPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartySlot0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartySlot1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartySlot2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartySlot3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreviewMoogleCharm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviewSprintShoes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviewWTW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsFile" serializeAs="String">
                <value />
            </setting>
        </ZONEDOCTOR.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ZONEDOCTOR.Properties.Settings>
            <setting name="PreviewArgsDefault" serializeAs="String">
                <value>-m -zs 0 -v 2</value>
            </setting>
        </ZONEDOCTOR.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
